.titulo {
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.Login {
    text-align: center;
    height: 1200px;
}

.col-md-12 {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    line-height: 100%;
}